# Virtual Environment
.venv/
env/
venv/
ENV/

# Folder Context & Arsip
context/
context.zip

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# OS / Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/
